.stock-effect::before,
.stock-effect::after {
  content: '';
  position: absolute;
  box-sizing: border-box;
  top: -1px;
  left: -1px;
  height: 82px;
  width: 256px;
  border-radius: 6px;
  outline: #00416b 1px solid;
  background-color: white;
  z-index: -1;
}

.stock-effect-selected::before,
.stock-effect-selected::after {
  outline: #00416b 2.5px solid;
}
