@layer tailwind-base, primereact, tailwind-utilities;

@import "primereact/resources/themes/mira/theme.css" layer(primereact);

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.htmlContent a {
  @apply text-blue-500 underline;
}

@keyframes grow {
  from {
    transform: scale(var(--scale-start, 0.9));
  }
  to {
    transform: scale(1);
  }
}

.card-appear {
  animation-name: grow;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-duration: var(--animation-duration, 0.1s);
}
